main {
    .bloques {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .bloque {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        .foto {
            display: flex;
            justify-content: center;
        }

        .descripcion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}