body {
    main {
        .galeria {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;

            img {
                width: 100%;
                height: auto;
                transition: 0.7s;

                &:hover{
                    transform:scale(0.9);
                    border-radius: 20px;
                }
            }
        }
    }
}